/*
*=========Header=========
*/
.top-bar{
	width: 100%;
	min-height: 42px;
	background-color: #7ac142;
}
.welcome{
	float: left;
	color: #ffffff;
}
.telephone{
	float: right;
	margin-top: 10px;
	color: #ffffff;
}
.logo{
	float: left;
	margin-top: 15px;
}
.navbar-brand{
	min-height: 50px !important;
}
.head-nav{
	margin-top: 15px;
}
.search-box{
	position: relative;
}
.search-form{
	margin-top: 20px;
}
.search-text{
	min-width: 290px;
	height: 40px;
}
.search-button{
	margin: 0px !important;
	position: absolute;
	float: right;
	top: 7%;
	right:1%;
	background-image: url(../../assets/images/srcbtn_03.png);
}
.title{
	width: 100%;
	background-color: #0077c0;
	min-height: 60px
}
.breadcrumb{
	margin-top:10px;
	margin-bottom: 10px;
	background: none;
	font-size: 22px;
}
.breadcrumb a{
	color: #ffffff;
}
.breadcrumb > li + li:before{
	content: ">";
}
.view-sort{
	margin-top: 18px;
}
.view-sort ul{
	float: right;
}
.view-sort ul li{
	display: inline-block;
}
/*
*================Main Content============
*/
main{padding-bottom: 40px;}
.left-side{
	margin-top:20px;
}
.left-side ul li > a{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left :10px;
	color: #f0f0f0;
	background-color: #7ac142;
	font-size: 20px;
}

}
.change-pass input[type=password], input[type=submit]{
	margin-top:10px ;
	margin-bottom: 10px;
	max-width: 460px;
	height: 40px;
}
.change-pass input[type=submit]{
	margin-left: 30%;
    height: 50px !important;
    width: 135px !important;
}
/*
*=================Footer===============
*/
footer{
	background-color: #282828;
}
.footer-block ul{
	padding-left: 0px;
}
.footer-block ul li{
	list-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #f0f0f0;
}
.footer-block ul li a{color: #f0f0f0;}
footer h3{
	padding-bottom: 10px;
	color: #f0f0f0;
	background-image: url(../../assets/images/underline_03.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.search-tip{
	padding-top:10px;
	padding-bottom: 5px;
	font-size: 11px;
}
li.link-social a span{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-left:8px;
	margin-right:8px;
	background-color:black;

}
.footer-search{
	height: 40px;
	background-image: url(../../assets/images/srcbtn_03.png);
}
.sc-blog{
	background-image: url(../../assets/images/icon-soc.png);
	margin-left: 0px !important;
}

.copyright{
	width: 100%;
	height:75px;
	background-color: #202020;
	border-top:solid 1px grey;
	color: #d6d6d6;
}
.copyright p{
	margin-top:25px;
}